apiVersion: v1
kind: Config
preferences: {}

clusters:
  - cluster:
    name: alpha

users:
  - name: user-backend
  - name: user-frontend
  - name: user-storage
  - name: user-testing

contexts:
  - context:
    name: dev-backend
  - context:
    name: dev-frontend
  - context:
    name: dev-storage
  - context:
    name: dev-testing